<?xml version='1.0' encoding='utf-8'?>
        <!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD//EN"
                "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>

  <!-- Connection settings -->
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <!--<property name="hibernate.connection.url">jdbc:postgresql://horton.elephantsql.com:5432/mtjylorp</property>-->
  <!--<property name="hibernate.connection.username">mtjylorp</property>-->
  <!--<property name="hibernate.connection.password">sa_FhICz5dFWITlsipNIxsQnrQKF81Vw</property>-->
 <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/showscom</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.connection.password">encarnaManlleu</property>

  <!-- SQL dialect -->
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

  <!-- Print executed SQL to stdout -->
  <property name="show_sql">true</property>

  <!-- Drop and re-create all database on startup -->
  <property name="hibernate.hbm2ddl.auto">create</property>

  <mapping class="edu.upc.as.domain.model.Entrada"/>
  <mapping class="edu.upc.as.domain.model.Espectacle"/>
  <mapping class="edu.upc.as.domain.model.Estrena"/>
  <mapping class="edu.upc.as.domain.model.Local"/>
  <mapping class="edu.upc.as.domain.model.Representacio"/>
  <mapping class="edu.upc.as.domain.model.Seient"/>
  <mapping class="edu.upc.as.domain.model.SeientEnRepresentacio"/>
  <mapping class="edu.upc.as.domain.model.Sessio"/>
</session-factory>
</hibernate-configuration>